
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.product-landing-page-school-bag-EE9 {
  width: 100%;
  height: 464.5rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.product-landing-page-school-bag-EE9 .footer-dXB {
  box-sizing: border-box;
  padding: 9.7rem 27.24rem 9.1rem 27.24rem;
  width: 192rem;
  height: 36.8rem;
  position: absolute;
  left: 0;
  top: 427.7rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/background-bg.png');
  background-color: rgba(46, 46, 46, 0.9200000167);
}
.product-landing-page-school-bag-EE9 .footer-dXB .footer-content-rAy {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.product-landing-page-school-bag-EE9 .footer-dXB .footer-content-rAy .auto-group-tzhb-N9K {
  box-sizing: border-box;
  padding-right: 11.2797rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .footer-dXB .footer-content-rAy .auto-group-tzhb-N9K .paragraph-gQu {
  margin: 0rem 8.38rem 0.8rem 0rem;
  max-width: 26.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .footer-dXB .footer-content-rAy .auto-group-tzhb-N9K .special-catagories-93b {
  margin: 0rem 11.98rem 3.2rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .footer-dXB .footer-content-rAy .auto-group-tzhb-N9K .special-catagories-93b .heading-em3 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .footer-dXB .footer-content-rAy .auto-group-tzhb-N9K .special-catagories-93b .content-S4d {
  opacity: 0.7;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .footer-dXB .footer-content-rAy .auto-group-tzhb-N9K .special-catagories-93b .content-S4d .content-MhP {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6000000238;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .footer-dXB .footer-content-rAy .auto-group-tzhb-N9K .special-catagories-93b .content-S4d .content-HL9 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6000000238;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .footer-dXB .footer-content-rAy .auto-group-tzhb-N9K .special-catagories-93b .content-S4d .content-pqs {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6000000238;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .footer-dXB .footer-content-rAy .auto-group-tzhb-N9K .contact-us-xBP {
  margin-bottom: 3.2rem;
  width: 24rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .footer-dXB .footer-content-rAy .auto-group-tzhb-N9K .contact-us-xBP .item--hem {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-landing-page-school-bag-EE9 .footer-dXB .footer-content-rAy .auto-group-tzhb-N9K .contact-us-xBP .content-AYM {
  opacity: 0.7;
  width: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
}
.product-landing-page-school-bag-EE9 .footer-dXB .footer-content-rAy .auto-group-tzhb-N9K .contact-us-xBP .content-AYM .item-380-97-345-21-23-Vad {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6000000238;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .footer-dXB .footer-content-rAy .auto-group-tzhb-N9K .contact-us-xBP .content-AYM .michelleriveraexamplecom-orD {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6000000238;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .footer-dXB .footer-content-rAy .auto-group-tzhb-N9K .contact-us-xBP .content-AYM .http-wwwunilovecom-Y37 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6000000238;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .footer-dXB .footer-content-rAy .news-latter-4XF {
  width: 31.6801rem;
  height: 100%;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .footer-dXB .footer-content-rAy .news-latter-4XF .item--1SV {
  margin-bottom: 2.7rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-landing-page-school-bag-EE9 .footer-dXB .footer-content-rAy .news-latter-4XF .search-7Ed {
  margin-bottom: 3rem;
  box-sizing: border-box;
  padding: 1.2rem 2.52rem 1.1rem 2.52rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6000000238;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem rgba(176, 169, 169, 0.349999994);
  border-radius: 0.5rem;
}
.product-landing-page-school-bag-EE9 .footer-dXB .footer-content-rAy .news-latter-4XF .cta-xm3 {
  width: 17.3rem;
  height: 4.4rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f59b00;
  border-radius: 0.4rem;
}
.product-landing-page-school-bag-EE9 .cta-wN5 {
  width: 167rem;
  height: 54.9rem;
  position: absolute;
  left: 14.7rem;
  top: 339.6rem;
}
.product-landing-page-school-bag-EE9 .cta-wN5 .image-TbK {
  width: 95.3037rem;
  height: 54.9rem;
  position: absolute;
  left: 71.6963rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0 1rem 1rem 0;
}
.product-landing-page-school-bag-EE9 .cta-wN5 .background-Akd {
  width: 167rem;
  height: 54.9rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0 3rem rgba(231, 231, 231, 0.400000006);
  background-color: rgba(46, 46, 46, 0.9499999881);
  border-radius: 1rem;
}
.product-landing-page-school-bag-EE9 .cta-wN5 .dalle2023-04-182322-1-H4Z {
  width: 72.8621rem;
  height: 50rem;
  position: absolute;
  left: 2.623rem;
  top: 4.9rem;
  object-fit: cover;
  vertical-align: top;
}
.product-landing-page-school-bag-EE9 .cta-wN5 .background-CSR {
  width: 71.1135rem;
  height: 54.4rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: rgba(46, 46, 46, 0.6000000238);
  border-radius: 0 1rem 1rem 0;
}
.product-landing-page-school-bag-EE9 .cta-wN5 .cta-content-JkM {
  width: 74.9023rem;
  height: 34.2rem;
  position: absolute;
  left: 81.8969rem;
  top: 10.4rem;
}
.product-landing-page-school-bag-EE9 .cta-wN5 .cta-content-JkM .item--DMX {
  margin-bottom: 8.1rem;
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 1.3999999262;
  text-transform: capitalize;
  color: #f59b00;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-landing-page-school-bag-EE9 .cta-wN5 .cta-content-JkM .group-46-qth {
  margin-bottom: 3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}
.product-landing-page-school-bag-EE9 .cta-wN5 .cta-content-JkM .group-46-qth .auto-group-9qwf-CDT {
  margin-bottom: 3rem;
  width: 100%;
  height: 5.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .cta-wN5 .cta-content-JkM .group-46-qth .auto-group-9qwf-CDT .group-43-XmX {
  margin-right: 7.2863rem;
  box-sizing: border-box;
  padding: 1.8rem 4.372rem 1.6rem 4.372rem;
  width: 33.808rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem rgba(255, 255, 255, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .cta-wN5 .cta-content-JkM .group-46-qth .auto-group-9qwf-CDT .group-44-NXF {
  box-sizing: border-box;
  padding: 1.8rem 4.372rem 1.6rem 4.372rem;
  width: 33.808rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem rgba(255, 255, 255, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .cta-wN5 .cta-content-JkM .group-46-qth .group-45-di5 {
  box-sizing: border-box;
  padding: 1.8rem 5.829rem 1.6rem 5.829rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem rgba(255, 255, 255, 0.25);
  border-radius: 1rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .cta-wN5 .cta-content-JkM .auto-group-pzsx-rKw {
  margin-right: 18.2594rem;
  width: calc(100% - 18.2594rem);
  height: 4.9rem;
  display: flex;
  align-items: center;
}
.product-landing-page-school-bag-EE9 .cta-wN5 .cta-content-JkM .auto-group-pzsx-rKw .group-9-yfT {
  margin: 1.2rem 17.633rem 1.1rem 0rem;
  box-sizing: border-box;
  padding-right: 6.0957rem;
  height: calc(100% - 2.3rem);
  display: flex;
  align-items: center;
  border-radius: 0.1rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .cta-wN5 .cta-content-JkM .auto-group-pzsx-rKw .group-9-yfT .rectangle-31-6k5 {
  margin: 0.2rem 1.312rem 0rem 0rem;
  width: 1.6029rem;
  height: 1.2rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  border-radius: 0.1rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .cta-wN5 .cta-content-JkM .auto-group-pzsx-rKw .group-9-yfT .uni-ncu {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6000000238;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .cta-wN5 .cta-content-JkM .auto-group-pzsx-rKw .frame-4-WJ1 {
  width: 13.8rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2000000477;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f59b00;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .our-product-b4Z {
  width: 88.2rem;
  height: 100.7rem;
  position: absolute;
  left: 80.1rem;
  top: 232.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}
.product-landing-page-school-bag-EE9 .our-product-b4Z .product-Jjf {
  margin: 0rem 15.152rem 86.2rem 0rem;
  width: 73.0479rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .our-product-b4Z .product-Jjf .heading-D5w {
  margin: 0rem 29.448rem 2.1rem 0rem;
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 1.3999999262;
  text-transform: capitalize;
  color: #2e2e2e;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .our-product-b4Z .product-Jjf .paragraph-sgH {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6000000238;
  text-transform: capitalize;
  color: #2e2e2e;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .our-product-b4Z .cta-opq {
  margin: 0rem 36.309rem 0rem 18.869rem;
  width: calc(100% - 55.1785rem);
  height: 5.4rem;
  position: relative;
  border: solid 0.1rem rgba(245, 155, 0, 0.200000003);
  box-sizing: border-box;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .our-product-b4Z .cta-opq .item--wRF {
  width: 14.9rem;
  height: 2.4rem;
  position: absolute;
  left: 7.9607rem;
  top: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
  color: #f59b00;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-landing-page-school-bag-EE9 .our-product-b4Z .cta-opq .arrow-1-pE9 {
  width: 2.6rem;
  height: 0;
  position: absolute;
  left: 22.4607rem;
  top: 2.7rem;
  object-fit: contain;
  vertical-align: top;
}
.product-landing-page-school-bag-EE9 .abouts-W6y {
  width: 176.8rem;
  height: 64.6rem;
  position: absolute;
  left: 0;
  top: 148.5rem;
}
.product-landing-page-school-bag-EE9 .abouts-W6y .image-EYm {
  width: 128.1338rem;
  height: 64.6rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.product-landing-page-school-bag-EE9 .abouts-W6y .about-content-BD7 {
  width: 59.2338rem;
  height: 36rem;
  position: absolute;
  left: 117.5662rem;
  top: 14.6rem;
  border-radius: 0.5rem;
}
.product-landing-page-school-bag-EE9 .abouts-W6y .about-content-BD7 .sundeading-H1F {
  margin-bottom: 1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  color: #f59b00;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-landing-page-school-bag-EE9 .abouts-W6y .about-content-BD7 .heading-AKw {
  margin-bottom: 2.2rem;
  max-width: 56.6rem;
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 1.3999999262;
  text-transform: capitalize;
  color: #2e2e2e;
  font-family: Poppins, 'Source Sans Pro';
}
.product-landing-page-school-bag-EE9 .abouts-W6y .about-content-BD7 .paragraph-gp5 {
  margin-bottom: 8.7rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6000000238;
  text-transform: capitalize;
  color: #2e2e2e;
  font-family: Tsukimi Rounded, 'Source Sans Pro';
  white-space: nowrap;
}
.product-landing-page-school-bag-EE9 .abouts-W6y .about-content-BD7 .cta-1rM {
  width: 19.5rem;
  height: 5.4rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f59b00;
  border-radius: 0.5rem;
}
.product-landing-page-school-bag-EE9 .feature-sNm {
  width: 154.1rem;
  height: 5.3rem;
  position: absolute;
  left: 22.7rem;
  top: 95.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
}
.product-landing-page-school-bag-EE9 .feature-sNm .feature-heading-BuF {
  margin: 0rem 9.896rem 1.8rem 5.11rem;
  width: calc(100% - 15.0063rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .feature-sNm .feature-heading-BuF .item--72D {
  margin-right: 15.1961rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .feature-sNm .feature-heading-BuF .item--AWH {
  margin-right: 22.3908rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  color: #2e2e2e;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .feature-sNm .feature-heading-BuF .item--DzM {
  margin-right: 21.8068rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  color: #2e2e2e;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .feature-sNm .feature-heading-BuF .item--8rR {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  color: #2e2e2e;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .feature-sNm .seletion-qVw {
  width: 154.1rem;
  height: 0.5rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.25rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 {
  width: 192rem;
  height: 439.6rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-17wd-JPX {
  box-sizing: border-box;
  padding-bottom: 0.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #2e2e2e;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-17wd-JPX .group-62-3M7 {
  margin-bottom: 1.4rem;
  box-sizing: border-box;
  padding: 2.2rem 27.48rem 2.1rem 27.72rem;
  width: 100%;
  height: 10.8rem;
  display: flex;
  align-items: center;
  background-color: #5c4724;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-17wd-JPX .group-62-3M7 .dalle2023-04-182221-1-YYm {
  margin-right: 48.7199rem;
  width: 13.92rem;
  height: 6.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-17wd-JPX .group-62-3M7 .item--RsT {
  margin: 0.5rem 6.16rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6000000238;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-17wd-JPX .group-62-3M7 .item--KT3 {
  margin: 0.3rem 4.92rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6000000238;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-17wd-JPX .group-62-3M7 .item--26Z {
  margin: 0.3rem 6.34rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6000000238;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-17wd-JPX .group-62-3M7 .item--izy {
  margin: 0.3rem 9.28rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6000000238;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-17wd-JPX .group-62-3M7 .frame-1-pHK {
  margin: 0.9rem 0rem 0.7rem 0rem;
  width: 16.56rem;
  height: calc(100% - 1.6rem);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2000000477;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f59b00;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-17wd-JPX .auto-group-mnww-sFb {
  margin: 0rem 10.32rem 0rem 21.72rem;
  width: calc(100% - 32.0399rem);
  height: 67.4rem;
  position: relative;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-17wd-JPX .auto-group-mnww-sFb .background-image-wFT {
  width: 101.8801rem;
  height: 56.5rem;
  position: absolute;
  left: 58.08rem;
  top: 3.7rem;
  object-fit: cover;
  vertical-align: top;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-17wd-JPX .auto-group-mnww-sFb .dalle2023-04-182216-1-evZ {
  width: 83.5199rem;
  height: 63.1rem;
  position: absolute;
  left: 61.5601rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-17wd-JPX .auto-group-mnww-sFb .hero-area-content-nG5 {
  width: 54.12rem;
  height: 33rem;
  position: absolute;
  left: 0;
  top: 7.5rem;
  border-radius: 0.5rem;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-17wd-JPX .auto-group-mnww-sFb .hero-area-content-nG5 .subheading-Whs {
  margin: 0rem 0rem 3.7rem 3.24rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  color: #f59b00;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-17wd-JPX .auto-group-mnww-sFb .hero-area-content-nG5 .image-heading-qEM {
  margin: 0rem 0rem 2.9rem 12.6rem;
  font-size: 6.1rem;
  font-weight: 700;
  line-height: 1.299999925;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-17wd-JPX .auto-group-mnww-sFb .hero-area-content-nG5 .item--9kq {
  margin: 0rem 0rem 7.9rem 17.58rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6000000238;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-17wd-JPX .auto-group-mnww-sFb .hero-area-content-nG5 .cta-dR7 {
  width: 13.8rem;
  height: 4.9rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2000000477;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f59b00;
  border-radius: 0.5rem;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-17wd-JPX .auto-group-mnww-sFb .item--JGM {
  width: 37.3rem;
  height: 2.6rem;
  position: absolute;
  left: 27.68rem;
  top: 35.4rem;
  text-align: right;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6000000238;
  text-transform: capitalize;
  color: #44b59a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-17wd-JPX .auto-group-mnww-sFb .dalle2023-04-182233-1-sTs {
  width: 30.6rem;
  height: 23.6rem;
  position: absolute;
  left: 23.08rem;
  top: 43.8rem;
  object-fit: cover;
  vertical-align: top;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-17wd-JPX .auto-group-mnww-sFb .item-30--ymo {
  width: 10.2rem;
  height: 2rem;
  position: absolute;
  left: 29.58rem;
  top: 58.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2000000477;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK {
  box-sizing: border-box;
  padding: 24.9rem 10.3rem 0rem 14.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-59-mxZ {
  margin: 0rem 4.9rem 14.1rem 8.3rem;
  width: calc(100% - 13.2rem);
  display: flex;
  column-gap: 4.9961rem;
  align-items: center;
  border-radius: 3rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-59-mxZ .dalle-2023-04-18-2243-1-6E9 {
  width: 34.7029rem;
  height: 30.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-59-mxZ .dalle-2023-04-18-2244-1-oPT {
  width: 34.7029rem;
  height: 30.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-59-mxZ .dalle-2023-04-18-2245-1-VGH {
  width: 34.7029rem;
  height: 30.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-59-mxZ .dalle-2023-04-18-2247-1-KWD {
  width: 34.7029rem;
  height: 30.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .dalle2023-04-182259-1-Saq {
  margin: 0rem 0rem 40.4rem 4rem;
  width: 61.3rem;
  height: 56.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 8.5rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-60-MSu {
  margin: 0rem 9.2rem 88.8rem 11.3rem;
  width: calc(100% - 20.5rem);
  height: 65rem;
  display: flex;
  align-items: center;
  border-radius: 3rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-60-MSu .auto-group-qngu-sg9 {
  margin-right: 16.8113rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-60-MSu .auto-group-qngu-sg9 .dalle-2023-04-18-2305-2-Dzu {
  margin-bottom: 6.6rem;
  width: 25.751rem;
  height: 29.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-60-MSu .auto-group-qngu-sg9 .dalle-2023-04-18-2312-1-kE9 {
  width: 25.751rem;
  height: 29.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-60-MSu .auto-group-bv8d-dYq {
  margin-right: 12.1416rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-60-MSu .auto-group-bv8d-dYq .dalle-2023-04-18-2308-3-ktM {
  margin-bottom: 6.5rem;
  width: 25.751rem;
  height: 29.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-60-MSu .auto-group-bv8d-dYq .dalle-2023-04-18-2312-2-gX7 {
  width: 25.751rem;
  height: 29.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-60-MSu .auto-group-hs3t-1pH {
  margin-right: 14.143rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-60-MSu .auto-group-hs3t-1pH .dalle-2023-04-18-2309-3-yFK {
  margin-bottom: 6.5rem;
  width: 25.751rem;
  height: 29.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-60-MSu .auto-group-hs3t-1pH .dalle-2023-04-18-2312-3-hSD {
  width: 25.751rem;
  height: 29.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-60-MSu .auto-group-rpdb-qHX {
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-60-MSu .auto-group-rpdb-qHX .dalle-2023-04-18-2309-2-BsB {
  margin-bottom: 6.6rem;
  width: 26.1512rem;
  height: 29.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-60-MSu .auto-group-rpdb-qHX .dalle-2023-04-18-2312-4-WuT {
  width: 25.751rem;
  height: 29.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3rem;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-61-pfF {
  margin-bottom: 11.2rem;
  width: 100%;
  height: 21.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-61-pfF .dalle2023-04-182326-1-k37 {
  margin: 0.1rem 4.646rem 0rem 0rem;
  width: 30.6653rem;
  height: 15.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-61-pfF .dalle2023-04-182328-1-e8V {
  width: 47.2592rem;
  height: 21.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-61-pfF .auto-group-wdgq-Acd {
  box-sizing: border-box;
  padding: 1.1rem 0;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-61-pfF .auto-group-wdgq-Acd .dalle2023-04-182329-1-Jyj {
  margin-right: 1.7258rem;
  width: 46.1971rem;
  height: 18.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .group-61-pfF .auto-group-wdgq-Acd .dalle2023-04-182330-1-Dau {
  width: 36.5064rem;
  height: 19.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.product-landing-page-school-bag-EE9 .hero-area-ZB3 .auto-group-8zm3-FjK .dalle2023-04-182221-1-jp9 {
  margin-left: 10.38rem;
  width: 13.92rem;
  height: 6.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
